{# empty Twig template #}
{% extends "CrowdRiseBundle::layout.html.twig" %}

{% block Title %}CrowdRise - Ajouter une nouvelle idée{% endblock %}

{% block content %}
    <script src="{{asset('node_modules/sweetalert/dist/sweetalert.min.js')}}"></script> 
    <link rel="stylesheet" type="text/css" href="{{asset('node_modules/sweetalert/dist/sweetalert.css')}}">
    <script>
        $(document).ready(function () {
            $("#intro").css('background-image', 'none');
            $("#intro").css('height', 'auto');
            $('.modal-trigger').leanModal({
                dismissible: false
            });
            $("#addTache").on("click", function () {
                var Remun = "";
                var Tache = "";
                $('#ModalTache').openModal();
            })
            $('.datepick').pickadate({
                format: 'yyyy-mm-dd',
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15 // Creates a dropdown of 15 years to control year
            });

            $('#ConfirmModalTache').click(function () {
                var calcul = 0;
                var table = document.getElementById("bodytable");
                for (var i = 0, row; row = table.rows[i]; i++) {
                    for (var j = 0, col; col = row.cells[j]; j++) {
                        try {
                            if (j == 1) {
                                if ((parseInt(col.innerHTML))) {
                                    calcul = calcul + parseInt(col.innerHTML);
                                }
                            }

                        } catch (err) {
                            console.log(err.message);
                        }
                    }
                }
                calcul = calcul + parseInt(document.getElementById("rem").value);
                if (calcul > $('#{{ f.remuneration_totale.vars.id }}').val()) {
                    swal("Erreur !",
                            "Vous avez atteint le maximum des rémuneration",
                            "error"
                            );
                } else {
                    var table = document.getElementById("bodytable");
                    var row = table.insertRow(0);
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    var cell3 = row.insertCell(2);
                    var cell4 = row.insertCell(3);
                    cell1.innerHTML = document.getElementById("descriptTache").value;
                    cell2.innerHTML = document.getElementById("rem").value;
                    cell3.innerHTML = $( "#selectCompt option:selected" ).text();
                    cell4.innerHTML= "<span style='display:none;'>"+$( "#selectCompt" ).val();+"</span>";
                    
                }
            });

            $("#confirm").click(function () {
                var table = document.getElementById("bodytable");
                var myTableArray = [];
                $("#bodytable tr").each(function () {
                    var arrayOfThisRow = [];
                    var tableData = $(this).find('td');
                    if (tableData.length > 0) {
                        tableData.each(function () {
                            arrayOfThisRow.push($(this).text());
                        });
                        myTableArray.push(arrayOfThisRow);
                    }
                });
                console.log(myTableArray);
                $.ajax({
                    type: "POST",
                    url: "{{ path('crowdrise_tache_add')}}",
                    beforeSend: function (xhr) {
                        $('#modalProcess').openModal();
                    },
                    data: {
                        info: myTableArray,
                        nom: $('#{{ f.nom.vars.id }}').val(),
                        debut: $('#{{ f.debut.vars.id }}').val(),
                        fin: $('#{{ f.fin.vars.id }}').val(),
                        description: $('#{{ f.description.vars.id }}').val(),
                        remuneration_totale: $('#{{ f.remuneration_totale.vars.id }}').val()
                    },
                    cache: false,
                    success: function (data) {
                        $('#modalProcess').closeModal();
                        swal({title: "Bien joué!",
                            text: "Appuyer sur Le bouton pour vous rediriger",
                            type: "success",
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "OK",
                            closeOnConfirm: true
                        }, function () {
                            window.location.href = "{{path('crowd_rise_homepage')}}";

                        });
                    }
                }).fail(function () {
                    $('#modalProcess').closeModal();
                    swal("Erreur !",
                            "Il y a quelque chose qui cloche",
                            "error"
                            );
                });
            });

            $("#form_recherche").submit(function () {
                var formData = new FormData();
                var file_data = $('input[type="file"]')[0].files; // for multiple files
                for (var i = 0; i < file_data.length; i++) {
                    formData.append("file_" + i, file_data[i]);
                }
                var other_data = $('#form_recherche').serializeArray();
                $.each(other_data, function (key, input) {
                    formData.append(key, input.value);
                });
                formData.append("nomdesfichiers", document.getElementById("nomdesfichiers").value)
                for (var [key, value] of formData.entries()){
                    console.log(key, value);
                }
                $.ajax({
                    type: "POST",
                    url: "{{ path('crowdrise_idee_add')}}",
                    beforeSend: function (xhr) {
                        $('#modalProcess').openModal();
                    },
                    data: formData,
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {                            
                            $("#selectCompt").append($("<option></option>").attr("value",data[i]['id']).text(data[i]['nom']));
                        }
                        $('select').material_select();
                        $('#modalProcess').closeModal();
                        swal({title: "Bien joué!",
                            text: "Appuyer sur Continuer pour chosir vos taches",
                            type: "success",
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "OK",
                            closeOnConfirm: true
                        }, function () {
                            $('#testModal').openModal();

                        });
                    }
                }).fail(function () {
                    $('#modalProcess').closeModal();
                    swal("Erreur !",
                            "Il y a quelque chose qui cloche",
                            "error"
                            );
                });

                return false;
            });
        });
    </script>

    <div id="ModalTache"  class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Ajout Tache a </h4>
            <div class="row">
                <div class="input-field col s12">
                    <select id="selectCompt">
                        <option value="" disabled selected>Choisir la compétence</option>                        
                    </select>
                    <label>Compétence</label>
                </div>
                <div class="input-field col s12">
                    <input type="text" id="descriptTache"/>
                    <label for="message">Tache</label>
                </div>
                <div class="input-field col s12">  
                    <span>Rémuneration</span>
                    <p class="range-field">                        
                        <input type="range" id="rem" min="0" max="100" />                       
                    </p>
                </div>  
            </div>

        </div>
        <div class="modal-footer">
            <button id="ConfirmModalTache" class="modal-action modal-close btn waves-effect waves-light">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>

    <div id="testModal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Configuration des Taches</h4>
            <center><a id="addTache" class="btn-floating red"><i class="large material-icons">playlist_add</i></a></center>
            <table class="bordered highlight responsive-table centered">
                <thead>
                    <tr>
                        <th>Tache</th>
                        <th>Remuneration</th>
                        <th>Competence</th>
                    </tr>
                </thead>
                <tbody id="bodytable">
                    <tr>
                        <td></td>
                        <td><center>Cliquez sur <i class="Tiny material-icons">playlist_add</i> pour ajouter une nouvelle tache</center></td>
                        <td></td>
                        <td style="display:none;"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button id="confirm" class="modal-action modal-close btn waves-effect waves-light">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>

    <div id="modalProcess" class="modal" style="height: 250px; width: 300px">
        <div class="modal-content" style="height: 250px; width: 300px">
            <center><img src="http://www.travislayne.com/images/loading.gif"/></center>
            <center><h4>Processing...</h4></center>
        </div>        
    </div>

    <form id="form_recherche" action="{{ path('crowdrise_idee_add') }}" method="post" enctype="multipart/form-data" >
        {{ form_row(f._token) }}
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card-panel">
                    <h4 class="header2">Ajout d'une Idée</h4>
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                    {{form_widget(f.nom)}}
                                    <label for="first_name">Idée Nom</label>
                                </div>   
                            </div>      

                            <div class="row">
                                <div class='col s1'><label for="debut">Date Debut</label></div>
                                <div class="input-field col s5">                                    
                                    {{form_widget(f.debut)}}    

                                </div> 
                                <div class='col s1'><label for="fin">Date Fin</label></div>
                                <div class="input-field col s5">                                    
                                    {{form_widget(f.fin)}}                                    
                                </div>
                            </div>

                            <div class="row">                                
                                <div class="input-field col s12">
                                    {{form_widget(f.description, { 'attr': {'class': 'materialize-textarea','length': '1000'} })}}                        
                                    <label for="message">Description</label>
                                </div>
                            </div>
                            <div class="row"> 

                                <div class='col s1'><label for="rem">Remuneration</label></div>
                                <div class="input-field col s5">                                    
                                    
                                    {{form_widget(f.remuneration_totale)}}                        
                                    
                                </div> 

                                <div class='col s1'><label for="fichier">Choisir des images</label></div>
                                <div class="file-field input-field  col s5">                                    
                                    <div class="btn">
                                        <span>Images</span>
                                        {{form_widget(f.img)}}  
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input id="nomdesfichiers" class="file-path validate" type="text" >
                                    </div>                                   
                                </div>
                            </div>                    

                            <div class="row">                      
                                <div class="row">
                                    <div class="input-field col s12">
                                        <button class="btn teal waves-effect waves-light right" type="submit" name="action">Submit
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </div>                                    
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </form>


{% endblock %}
